
    <h2>Оформлення замовлення</h2>


    <div class="offer">
    <a asp-area="Identity" asp-page="/Account/Login" class="btn btn-primary w-50 m-1">
        Увійти
    </a>

    <a asp-controller="Order" asp-action="Index" class="btn btn-secondary w-50 m-1">
        Продовжити як гість
    </a>
    </div>

